.footer {
    overflow: hidden;
    margin-top: 90px;
    padding-bottom: 50px;
}
.footer__inner {
    display: flex;
    margin-bottom: 100px;
}
.foter__social {
    margin-right: 150px;
}
.foter__social-title {
    margin-bottom: 30px;
    font-size: 15px;
    font-weight: 700;
}
.foter__social-list {
    display: flex;
    align-items: center;
    column-gap: 25px;
}
.foter__social-item {
    transition: all .5s ease;
}
.foter__social-item:hover {
    transform: scale(1.2);
}
.foter__social-item img{
    width: 30px;
    height: 30px;
}
.foter__social-link--facebook img{
    width: 40px;
    height: 40px;
}
.foter__social-link {}
.foter__shop-list {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: 170px;
    margin-right: 50px;
}
.foter__shop-item {
    transition: all .5s ease;
}
.foter__shop-item-link {
    color: var(--blackColor);
    font-weight: 500;
    font-size: 16px;
    transition: all .5s ease;
}
.foter__shop-item-link:hover {
    text-decoration: underline;
}
.foter__shop-item-link--bold{
    display: block;
    font-weight: 900;
    margin-bottom: 25px;
}
.foter__different-list {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-top: 55px;
    width: 170px;
    margin-right: 100px;
}
.foter__different-item {}
.foter__different-link {
    color: var(--blackColor);
    font-weight: 500;
    font-size: 16px;
}
.foter__different-link:hover{
    text-decoration: underline;
}
.foter__buyer-list {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: 170px;
    margin-right: 40px;
}
.foter__buyer-item {}
.foter__buyer-link {
    color: var(--blackColor);
    font-weight: 500;
    font-size: 16px;
}
.foter__buyer-link:hover{
    text-decoration: underline;
}
.foter__buyer-link--bold{
    display: block;
    font-weight: 900;
    margin-bottom: 25px;
}
.footer__payment {
    display: flex;
    align-items: center;
    align-self: flex-start;
    margin-top: -10px;
}
.footer__payment-image {
    width: 100px;
    height: 16px;
}
.footer__payment-image--visa{
    height: 40px;
    margin-right: -25px;
    margin-left: 10px;
}
.footer__copy{
    font-size: 16px;
    font-weight: 400;
}

@media (max-width: 1320px){
    .footer__inner {
        position: relative;
    }
    .foter__social{
        position: absolute;
        bottom: -150px;
        right: -70px;
    }
    .footer__payment{
        position: absolute;
        bottom: -100px;
    }
    .foter__shop-list, .foter__different-list{
        margin-right: 300px;
        padding-left: 40px;
    }
}
@media (max-width: 1200px){
    .foter__shop-list, .foter__different-list{
        margin-right: auto
    }
}
@media (max-width: 700px){
    .footer__inner{
        flex-wrap: wrap;
    }
}
@media (max-width: 580px){
    .foter__social{
        bottom: 150px;
    }
    .foter__buyer-list{
        padding-left: 40px;
    }
}
@media (max-width: 550px){
    .foter__social{
        right: -150px;
    }
}
@media (max-width: 370px){
    .footer {
        margin-top: 30px;
        padding-bottom: 100px;
    }
    .footer__inner {
        row-gap: 20px;
    }
    .foter__different-list {
        margin-top: 0px;
    }
    .foter__social{
       bottom: -120px;
       right: -70px;
    }
    .foter__shop-item-link--bold, .foter__buyer-link--bold{
        margin-bottom: 0;
    }
    .footer__payment{
        bottom: -170px;
    }
    .footer__copy{
       position: relative;
       bottom: -70px;
    }
}


