.popular {
    margin-top: 50px;
    margin-bottom: 100px;
}
.popular__title {
    margin-bottom: 50px;
    font-size: 50px;
    font-family: var(--playfairDisplay);
}
.popular__items {
    display: flex;
    gap: 0 30px;
}
.popular__item {
    display: flex;
    flex-direction: column;
}
.popular__item-img {
    width: 200px;
    height: 280px;
    margin-bottom: 15px;
    transition: all .5s ease;
}
.popular__item-img:hover {
    transform: scale(1.1);
}
.popular__item-text {
    font-weight: 400;
    font-size: 16px;
    width: 190px;
    margin-bottom: 20px;
    line-height: 1.4;
    flex-grow: 1;
}
.popular__item-price {
    font-size: 18px;
}