.post {
    margin-top: 80px;
    background-color: rgba(196, 183, 183, 0.31);
    padding: 70px 0;
}
.post__inner {
    display: flex;
    align-items: center;
    column-gap: 200px;
}
.post__content {
    display: flex;
    align-items: center;
    column-gap: 20px;
}
.post__content-img {
    width: 50px;
    height: 40px;
}
.post__content-text {
    font-size: 20px;
}
.post__form {
    display: flex;
    align-items: center;
}
.post__form-input {
    padding: 15px 20px;
    width: 300px;
}
.post__form-input::placeholder {
  color: rgb(193, 183, 183);
  font-size: 16px;
}
.post__form-button {
    background-color: var(--blackColor);
    color: var(--whiteColor);
    padding: 13px 60px;
    font-size: 16px;
    transition: all .5s ease;
}
.post__form-button:hover {
    background-color: rgb(84, 81, 81);
}