@import "./reset.css";
@import "./header.css";
@import "./top.css";
@import "./buy.css";
@import "./new.css";
@import "./sale.css";
@import "./popular.css";
@import "./post.css";
@import "./reviews.css";
@import "./footer.css";
@import "./burger.css";


:root{
    --blackColor: #000;
    --lineHeight: 1.2;
    --whiteColor: #fff;
    --fontBold: 700;
    --fontManrope: "Manrope", sans-serif;
    --playfairDisplay: "Playfair Display", sans-serif;
}

body{
    background: var(--whiteColor);
    line-height: var(--lineHeight);
    color: var(--blackColor);
    font-weight: var(--fontBold);
    font-family: var(--fontManrope);
}

.wrapper{
    display: flex;
    flex-direction: column;
}

main{
    flex-grow: 1;
}

.container{
    max-width: 1330px;
    padding: 0 15px;
    margin: 0 auto;
}